/* global.css или добавить в App.css */
:root {
    --font-family: "MS Reference Sans Serif", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --primary: #21435A;
    --primary-light: #21435A;
    --secondary: #21435A;
    --secondary-light: #21435A;
    --accent: #21435A;
    --accent-light: #21435A;
    --dark: #21435A;
    --light: #f5f5f5;
    --white: #ffffff;
    --gray: #e0e0e0;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--second-family);
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}